.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-neutral-100 my-8;
}

#category {
    @apply mb-8 text-2xl text-neutral-100;
}

.score {
    @apply my-2 text-2xl text-neutral-100;
}

#reset {
    @apply items-center justify-center
    p-1.5 px-2.5 sm:p-2 sm:px-3 my-4 text-lg sm:text-xl md:text-2xl bg-sky-300 hover:bg-sky-400
    rounded-md;
}

#hangman {
    @apply h-96 mx-auto;
}
